# WireGuard client configuration template
[Interface]
PrivateKey = <CLIENT_PRIVATE_KEY>
Address = 10.0.0.2/24
DNS = 8.8.8.8

[Peer]
PublicKey = <SERVER_PUBLIC_KEY>
Endpoint = <SERVER_IP>:51820
AllowedIPs = 
# Specify IP addresses to route through VPN (split tunnel)
# Example: AllowedIPs = 192.168.1.100/32, 10.0.0.50/32
# Full tunnel: AllowedIPs = 0.0.0.0/0, ::/0
